<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody style="background-color: white">
                <tr>
                    <td class="cart_product">
                        <a href=""
                        ><img src="/images/home/bobby.jpg" alt="" width="150px"
                        /></a>
                    </td>
                    <td class="cart_description">
                        <h4>
                            <a href="" style="font-weight: bold; font-size: 20px"
                            >Tên sản phẩm</a
                            >
                        </h4>
                        <p style="font-size: 10px">Mã sản phẩm: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input
                                    class="cart_quantity_input"
                                    type="text"
                                    name="quantity"
                                    value="1"
                                    autocomplete="off"
                                    size="2"
                            />
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""
                        ><i class="fa fa-times"></i
                        ></a>
                    </td>
                </tr>

                <tr>
                    <td class="cart_product">
                        <a href=""
                        ><img src="/images/home/bobby.jpg" alt="" width="150px"
                        /></a>
                    </td>
                    <td class="cart_description">
                        <h4>
                            <a href="" style="font-weight: bold; font-size: 20px"
                            >Tên sản phẩm</a
                            >
                        </h4>
                        <p style="font-size: 10px">Mã sản phẩm: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input
                                    class="cart_quantity_input"
                                    type="text"
                                    name="quantity"
                                    value="1"
                                    autocomplete="off"
                                    size="2"
                            />
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""
                        ><i class="fa fa-times"></i
                        ></a>
                    </td>
                </tr>
                <tr>
                    <td class="cart_product">
                        <a href=""
                        ><img src="/images/home/bobby.jpg" alt="" width="150px"
                        /></a>
                    </td>
                    <td class="cart_description">
                        <h4>
                            <a href="" style="font-weight: bold; font-size: 20px"
                            >Tên sản phẩm</a
                            >
                        </h4>
                        <p style="font-size: 10px">Mã sản phẩm: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input
                                    class="cart_quantity_input"
                                    type="text"
                                    name="quantity"
                                    value="1"
                                    autocomplete="off"
                                    size="2"
                            />
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""
                        ><i class="fa fa-times"></i
                        ></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area" style="background-color: white">
                    <ul class="user_info">
                        <div class="heading">
                            <h3>Nhập mã khuyến mãi</h3>
                        </div>
                        <li class="single_field zip-field">
                            <label>Zip Code:</label>
                            <input type="text" />
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Áp dụng</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area" style="background-color: white">
                    <ul>
                        <li style="font-weight: bold">
                            Tổng tiền sản phẩm <span> $59</span>
                        </li>
                        <li style="font-weight: bold">VAT <span>$2</span></li>
                        <li style="font-weight: bold">
                            Phí vận chuyển <span>Free</span>
                        </li>
                        <li style="font-weight: bold">Giảm giá <span>$0</span></li>
                        <li style="font-weight: bold">Tổng cộng <span>$61</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div
                class="chose_area"
                style="margin-top: -25px; background-color: white"
        >
            <ul class="user_info">
                <div class="heading">
                    <h3>Nhập thông tin giao hàng</h3>
                </div>
                <li class="single_field zip-field">
                    <label>Họ và tên người nhận:</label>
                    <input type="name" />
                </li>
                <li class="single_field zip-field">
                    <label>Địa chỉ:</label>
                    <input type="adress" />
                </li>
                <li class="single_field zip-field">
                    <label>Số điện thoại:</label>
                    <input type="phone2numeric" />
                </li>
                <li class="single_field zip-field" style="margin-bottom: 10px; margin-top: 20px">
                    <label>Hình thức thanh toán:</label>
                    <p><input type="radio" name="payment" value="off" style="width:50px"> Thanh toán online</p>
                    <p><input type="radio" name="payment" value="off" style="width:50px"> Trực tiếp (COD)</p>
                </li>
            </ul>
            <a class="btn btn-default update" href="/checkout" style="margin-top: -10px">Đặt hàng</a>
        </div>
    </div>
</section>
