<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2 style="color: #fe980f; margin-top: 20px">
                        <strong>Phân loại</strong>
                    </h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a
                                            data-toggle="collapse"
                                            data-parent="#accordian"
                                            href="#sportswear"
                                    >
                                        <span class="badge pull-right"></span>
                                        Sữa bột cao cấp
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="">Meiji </a></li>
                                        <li><a href="">Enfa </a></li>
                                        <li><a href="">Similac </a></li>
                                        <li><a href="">Friso</a></li>
                                        <li><a href="">Ensure </a></li>
                                        <li><a href="">PediaSure </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a
                                            data-toggle="collapse"
                                            data-parent="#accordian"
                                            href="#mens"
                                    >
                                        <span class="badge pull-right"></span>
                                        Bỉm tã
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="">Bobby</a></li>
                                        <li><a href="">Huggies</a></li>
                                        <li><a href="">Goo.n</a></li>
                                        <li><a href="">Merries</a></li>
                                        <li><a href="">Moony</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a
                                            data-toggle="collapse"
                                            data-parent="#accordian"
                                            href="#womenss"
                                    >
                                        <span class="badge pull-right"></span>
                                        Sữa tươi
                                    </a>
                                </h4>
                            </div>
                            <div id="womenss" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="">Optimum Gold</a></li>
                                        <li><a href="">NutiFood</a></li>
                                        <li><a href="">Dutch Lady</a></li>
                                        <li><a href="">Grow</a></li>
                                        <li><a href="">Yoko Gold</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a
                                            data-toggle="collapse"
                                            data-parent="#accordian"
                                            href="#womens"
                                    >
                                        <span class="badge pull-right"></span>
                                        Ăn dặm, dinh dưỡng
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="">Bột ăn dặm</a></li>
                                        <li><a href="">Bánh ăn dặm</a></li>
                                        <li><a href="">Phô mai ván sữa</a></li>
                                        <li><a href="">Cháo, mì, nước sốt</a></li>
                                        <li><a href="">Bánh, kẹo dinh dưỡng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/category-productsr-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center" style="color: #3567d7">
                        <strong>SẢN PHẨM</strong>
                    </h2>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="color: #ee3e5d !important">
                                        Giá trước khuyến mãi: $100
                                    </p>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="/images/home/bobby.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p style="font-weight: bold">Tên sản phẩm</p>
                                    <a href="#" class="btn btn-default add-to-cart"
                                    >CHỌN MUA</a
                                    >
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--features_items-->
            </div>
        </div>
    </div>
</section>