<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2 style="color: #fe980f; margin-top: 20px">
            <strong>Phân loại</strong>
          </h2>
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#sportswear">
                    <span class="badge pull-right"></span>
                    Sữa bột cao cấp
                  </a>
                </h4>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#mens">
                    <span class="badge pull-right"></span>
                    Bỉm tã
                  </a>
                </h4>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#womenss">
                    <span class="badge pull-right"></span>
                    Sữa tươi
                  </a>
                </h4>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#womens">
                    <span class="badge pull-right"></span>
                    Ăn dặm, dinh dưỡng
                  </a>
                </h4>
              </div>

            </div>
          </div>
          <h2 style="color: #fe980f; margin-top: 20px">
            <strong>Thương hiệu</strong>
          </h2>
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#sportswear">
                    <span class="badge pull-right"></span>
                    Sữa bột cao cấp
                  </a>
                </h4>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#mens">
                    <span class="badge pull-right"></span>
                    Bỉm tã
                  </a>
                </h4>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#womenss">
                    <span class="badge pull-right"></span>
                    Sữa tươi
                  </a>
                </h4>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#womens">
                    <span class="badge pull-right"></span>
                    Ăn dặm, dinh dưỡng
                  </a>
                </h4>
              </div>

            </div>
          </div>
          <!--/category-productsr-->
        </div>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <!--features_items-->
          <h2 class="title text-center" style="color: #3567d7">
            <strong>SẢN PHẨM</strong>
          </h2>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="color: #ee3e5d !important">
                    Giá trước khuyến mãi: $100
                  </p>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="/images/home/bobby.jpg" alt="" />
                  <h2>$56</h2>
                  <p style="font-weight: bold">Tên sản phẩm</p>
                  <a href="#" class="btn btn-default add-to-cart">CHỌN MUA</a>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified"></ul>
              </div>
            </div>
          </div>
        </div>
        <!--features_items-->
      </div>
    </div>
  </div>
</section>