<section id="form" style="margin-top: -20px">
    <!--form-->
    <div class="container" >
        <div class="row">
                <div class="signup-form" style="text-align: center">
                    <!--sign up form-->
                    <h2>Thông tin tài khoản</h2>
                    <form>
                        <input name="name" type="text" placeholder="Nguyen Van A" />
                        <input name="gen" type="text" placeholder="Nam" />
                        <input name="date" type="text" placeholder="01-01-2001" />
                        <input name="sonha" type="text" placeholder="14" />
                        <input name="duong" type="text" placeholder="Sư Vạn Hạnh" />
                        <input name="phuongxa" type="text" placeholder="Phường 12" />
                        <input name="quanhuyen" type="text" placeholder="Quận 10" />
                        <input name="tinh" type="text" placeholder="Thành phố Hồ Chí Minh" />
                        <input name="sodienthoai" type="phone" placeholder="0456868693" />
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>