<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home | Con Cưng</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/prettyPhoto.css" rel="stylesheet" />
    <link href="css/price-range.css" rel="stylesheet" />
    <link href="css/animate.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="css/cart.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
    <link href="css/shop.css" rel="stylesheet" />
    <link href="css/product.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script
      src="https://kit.fontawesome.com/df33dfb910.js"
      crossorigin="anonymous"
    ></script>

  </head><!--/head-->

  <body>
    <header id="header"><!--header-->
      <div class="header-middle"><!--header-middle-->
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="logo pull-left">
                <a href="/"><img
                    src="/images/home/logo.png"
                    alt=""
                    width="100px"
                  /></a>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="search_box pull-right">
                <form class="search-box top-search" method="get">
                  <input
                    class="form-control form-control-lg text-seach"
                    type="text"
                    placeholder="Search..."
                    id="search_query"
                  />
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="shop-menu pull-right">
                <ul class="nav navbar-nav">
                  <li><a
                      href="/account"
                      style=" padding-right: 9px;  padding-left: 9px;"
                      class="btn btn-outline-light"
                    > Tài khoản</a></li>
                  <li><a
                      href="/orderhistory"
                      style=" padding-right: 9px;  padding-left: 9px;"
                      class="btn btn-outline-light"
                    > Kiểm tra đơn hàng</a></li>
                  <li><a
                      href="/cart"
                      style=" padding-right: 9px;  padding-left: 9px;"
                      class="btn btn-outline-light"
                    > Giỏ hàng</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!--/header-middle-->
      <div class="header-bottom"><!--header-bottom-->
        <div class="container">
          <div class="row">
            <div class="col-sm-9">
              <div class="mainmenu pull-left">
                <ul class="nav navbar-nav collapse navbar-collapse">
                  <li><a href="/" class="active">Trang chủ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!--/header-bottom-->
    </header><!--/header-->

    {{{body}}}

    <!-- footer section start -->
    <footer class="footer">
      <div class="footer__addr">
        <h5 class="footer__logo"><strong>CÔNG TY CỔ PHẦN CON CƯNG</strong></h5>
        <a href="/"><img src="/images/home/logo.png" alt="" width="200px" /></a>
        <p>
          <strong>Điện thoại:</strong>
          028 7300 6609<br /><strong>Email: </strong><a
            href="mailto:cskh@concung.com"
          >cskh@concung.com</a><br /><strong>ĐKKD:</strong>
          101-103 Trần Quang Khải, P.Tân Định, Q.1, HCM<br />
          <strong>Văn phòng:</strong>
          Tầng 14 Tòa nhà Phú Mỹ Hưng Tower, 08 Hoàng Văn Thái, P.Tân Phú, Q.7,
          HCM
        </p>
        <img
          class="img-fluid"
          src="https://concung.com/themes/desktop4.1/img/noticed@3x.png"
          width="130"
          alt="#"
        />
      </div>
      <ul class="footer__nav">
        <li className="nav__item">
          <h2 class="nav__title">Hỗ trợ khách hàng</h2>
          <ul class="nav__ul">
            <li>
              <p>Hotline miễn phí</p>
            </li>
            <li>
              <p>CSKH: 1800 6609</p>
            </li>
            <li>
              <p>Mua hàng: 1800 6609</p>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Đơn vị vận chuyển</h2>
          <ul class="nav__ul">
            <li>
              <img
                class="img-fluid"
                src="https://concung.com/themes/desktop4.1/img/ahamove@3x.png"
                alt="#"
                width="100px"
              />
            </li>
            <li>
              <img
                class="img-fluid"
                src="https://concung.com/themes/desktop4.1/img/viettel@3x.png"
                width="100px"
              />
            </li>
            <li>
              <img
                class="img-fluid"
                src="https://concung.com/themes/desktop4.1/img/grab-express.png"
                width="100px"
              />
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Cách thức thanh toán</h2>
          <ul class="nav__ul">
            <li>
              <img
                class="img-fluid"
                src="https://concung.com/themes/desktop4.1/img/cod2x.png"
                width="100px"
              />
            </li>
            <li>
              <img
                class="img-fluid"
                src="https://concung.com/themes/desktop4.1/img/atm2x.png"
                width="100px"
              />
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Scan để tải app</h2>
          <ul class="nav__ul">
            <li>
              <img
                src="https://concung.com/themes/desktop4.1/img/scanapp.svg"
                height="60"
                alt="Tải App Ngay"
              />
            </li>
          </ul>
        </li>
      </ul>
    </footer><!--/Footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

  </body>
</html>