<section id="form" style="margin-top: -20px">
  <!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <!--login form-->
          <h2>Đăng nhập</h2>
          <form action="/login/signin" method="POST">
            <input
              required
              name="phone"
              type="phone"
              placeholder="Số điện thoại"
            />
            <input
              required
              name="password"
              type="password"
              placeholder="Mật khẩu"
            />
            <p style="color: red">{{messages.mess2}}</p>
            <button type="submit" class="btn btn-default">Đăng nhập</button>
          </form>
        </div>
        <!--/login form-->
      </div>
      <div class="col-sm-1">
        <h2 class="or">Hoặc</h2>
      </div>
      <div class="col-sm-4">
        <div class="signup-form">
          <!--sign up form-->
          <h2>Đăng ký</h2>
          <form action="/login/register" method="POST">
            <input required name="name" type="text" placeholder="Họ và tên" />
            <label for="gen">Giới tính:</label>
            <select required id="gen" name="gen" style="margin-bottom: 10px">
              <option value="Nữ">Nữ</option>
              <option value="Nam">Nam</option>
            </select>
            <label for="date">Ngày sinh</label>
            <input required type="date" name="date" id="dateofbirth" />
            <input required name="sonha" type="text" placeholder="Số nhà" />
            <input required name="duong" type="text" placeholder="Đường" />
            <input
              required
              name="phuongxa"
              type="text"
              placeholder="Phường/Xã"
            />
            <input
              required
              name="quanhuyen"
              type="text"
              placeholder="Quận/Huyện"
            />
            <label for="tinh">Thành phố:</label>
            <select required id="tinh" name="tinh" style="margin-bottom: 10px">
              <option value="An Giang">An Giang</option>
              <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
              <option value="Bắc Giang">Bắc Giang</option>
              <option value="Bắc Kạn">Bắc Kạn</option>
              <option value="Bạc Liêu">Bạc Liêu</option>
              <option value="Bắc Ninh">Bắc Ninh</option>
              <option value="Bến Tre">Bến Tre</option>
              <option value="Bình Định">Bình Định</option>
              <option value="Bình Dương">Bình Dương</option>
              <option value="Bình Phước">Bình Phước</option>
              <option value="Bình Thuận">Bình Thuận</option>
              <option value="Cà Mau">Cà Mau</option>
              <option value="Cao Bằng">Cao Bằng</option>
              <option value="Đắk Lắk">Đắk Lắk</option>
              <option value="Đắk Nông">Đắk Nông</option>
              <option value="Điện Biên">Điện Biên</option>
              <option value="Đồng Nai">Đồng Nai</option>
              <option value="Đồng Tháp">Đồng Tháp</option>
              <option value="Gia Lai">Gia Lai</option>
              <option value="Hà Giang">Hà Giang</option>
              <option value="Hà Nam">Hà Nam</option>
              <option value="Hà Tĩnh">Hà Tĩnh</option>
              <option value="Hải Dương">Hải Dương</option>
              <option value="Hậu Giang">Hậu Giang</option>
              <option value="Hòa Bình">Hòa Bình</option>
              <option value="Hưng Yên">Hưng Yên</option>
              <option value="Khánh Hòa">Khánh Hòa</option>
              <option value="Kiên Giang">Kiên Giang</option>
              <option value="Kon Tum">Kon Tum</option>
              <option value="Lai Châu">Lai Châu</option>
              <option value="Lâm Đồng">Lâm Đồng</option>
              <option value="Lạng Sơn">Lạng Sơn</option>
              <option value="Lào Cai">Lào Cai</option>
              <option value="Long An">Long An</option>
              <option value="Nam Định">Nam Định</option>
              <option value="Nghệ An">Nghệ An</option>
              <option value="Ninh Bình">Ninh Bình</option>
              <option value="Ninh Thuận">Ninh Thuận</option>
              <option value="Phú Thọ">Phú Thọ</option>
              <option value="Quảng Bình">Quảng Bình</option>
              <option value="Quảng Ngãi">Quảng Ngãi</option>
              <option value="Quảng Ninh">Quảng Ninh</option>
              <option value="Sóc Trăng">Sóc Trăng</option>
              <option value="Sơn La">Sơn La</option>
              <option value="Tây Ninh">Tây Ninh</option>
              <option value="Thái Bình">Thái Bình</option>
              <option value="Thái Nguyên">Thái Nguyên</option>
              <option value="Thanh Hóa">Thanh Hóa</option>
              <option value="Tiền Giang">Tiền Giang</option>
              <option value="Trà Vinh">Trà Vinh</option>
              <option value="Tuyên Quang">Tuyên Quang</option>
              <option value="Vĩnh Long">Vĩnh Long</option>
              <option value="Vĩnh Phúc">Vĩnh Phúc</option>
              <option value="Phú Yên Cần Thơ">Phú Yên Cần Thơ</option>
              <option value="Đà Nẵng">Đà Nẵng</option>
              <option value="Hải Phòng">Hải Phòng</option>
              <option value="Hải Phòng">Hải Phòng</option>
              <option value="Hà Nội">Hà Nội</option>
              <option value="TP HCM">TP HCM</option>
            </select>
            <input
              required
              name="sodienthoai"
              type="phone"
              placeholder="Số điện thoại"
            />
            <input
              required
              name="password"
              type="password"
              placeholder="Mật khẩu"
            />
            <button type="submit" class="btn btn-default">Đăng ký</button>
          </form>
          <p style="color: red">{{messages.mess}}</p>
        </div>
        <!--/sign up form-->
      </div>
    </div>
  </div>
</section>