<section id="form" style="margin-top: -20px">
  <!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <!--login form-->
          <h2>Đăng nhập</h2>
          <form action="/login" method="post">
            <input name="phone" type="phone" placeholder="Số điện thoại" />
            <input name="pass" type="password" placeholder="Mật khẩu" />
            <span>
              <input type="checkbox" class="checkbox" />
              Ghi nhớ tài khoản {{result}}
            </span>
            <button type="submit" class="btn btn-default">Đăng nhập</button>
          </form>
        </div>
        <!--/login form-->
      </div>
      <div class="col-sm-1">
        <h2 class="or">Hoặc</h2>
      </div>
      <div class="col-sm-4">
        <div class="signup-form">
          <!--sign up form-->
          <h2>Đăng ký</h2>
          <form action="#">
            <input type="text" placeholder="Họ và tên" />
            <input type="text" placeholder="Giới tính" />
            <input type="text" placeholder="Ngày sinh" />
            <input type="text" placeholder="Số nhà" />
            <input type="text" placeholder="Đường" />
            <input type="text" placeholder="Phường/Xã" />
            <input type="text" placeholder="Quận/Huyện" />
            <input type="text" placeholder="Thành phố/Tỉnh" />
            <input type="phone" placeholder="Số điện thoại" />
            <input type="password" placeholder="Mật khẩu" />
            <button type="submit" class="btn btn-default">Đăng ký</button>
          </form>
        </div>
        <!--/sign up form-->
      </div>
    </div>
  </div>
</section>