<section id="form" style="margin-top: -20px">
  <!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <!--login form-->
          <h2>Đăng nhập</h2>
          <form action="/login/signin" method="POST">
            <input
              required
              name="phone"
              type="phone"
              placeholder="Số điện thoại"
            />
            <input
              required
              name="password"
              type="password"
              placeholder="Mật khẩu"
            />
            <p>{{messages.mess2}}</p>
            <button type="submit" class="btn btn-default">Đăng nhập</button>
          </form>
        </div>
        <!--/login form-->
      </div>
      <div class="col-sm-1">
        <h2 class="or">Hoặc</h2>
      </div>
      <div class="col-sm-4">
        <div class="signup-form">
          <!--sign up form-->
          <h2>Đăng ký</h2>
          <form action="/login/register" method="POST">
            <input required name="name" type="text" placeholder="Họ và tên" />
            <label for="gen">Giới tính:</label>
            <select required id="gen" name="gen" style="margin-bottom: 10px">
              <option value="Nữ">Nữ</option>
              <option value="Nam">Nam</option>
            </select>
            <label for="date">Ngày sinh</label>
            <input required type="date" name="date" id="dateofbirth" />
            <input required name="sonha" type="text" placeholder="Số nhà" />
            <input required name="duong" type="text" placeholder="Đường" />
            <input
              required
              name="phuongxa"
              type="text"
              placeholder="Phường/Xã"
            />
            <input
              required
              name="quanhuyen"
              type="text"
              placeholder="Quận/Huyện"
            />
            <input
              required
              name="tinh"
              type="text"
              placeholder="Thành phố/Tỉnh"
            />
            <input
              required
              name="sodienthoai"
              type="phone"
              placeholder="Số điện thoại"
            />
            <input
              required
              name="password"
              type="password"
              placeholder="Mật khẩu"
            />
            <button type="submit" class="btn btn-default">Đăng ký</button>
          </form>
          <p>{{messages.mess}}</p>
        </div>
        <!--/sign up form-->
      </div>
    </div>
  </div>
</section>