<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Mã đơn hàng</td>
            <td class="description">Thời gian đặt hàng</td>
            <td class="quantity">Số lượng</td>
            <td class="price">Tổng tiền</td>
            <td class="state">Tình trạng</td>
            <td></td>
          </tr>
        </thead>
        <tbody style="background-color: white">
          <tr>
            <td class="cart_product">
              <a href="/checkout" style="font-size: 16px">ABCDE</a>
            </td>
            <td class="cart_description">
              <h4>
                2017-01-09 09:54:23.630
              </h4>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <p class="cart_quantity_input">5</p>
              </div>
            </td>
            <td class="cart_price">
              <p>$59</p>
            </td>
            <td class="cart_state">
              <p class="cart_state">Chưa giao</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->