<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Sản phẩm</td>
            <td class="description"></td>
            <td class="price">Giá</td>
            <td class="quantity">Số lượng</td>
            <td class="total">Tổng tiền</td>
            <td></td>
          </tr>
        </thead>
        <tbody style="background-color: white">
            <tr>
              <form method="POST">
                <td class="cart_product">
                  <a href=""><img
                      src="/images/home/bobby.jpg"
                      alt=""
                      width="150px"
                    /></a>
                </td>
                <td class="cart_description">
                  <h4>
                    <a href="" style="font-weight: bold; font-size: 20px">
                      ABC</a>
                  </h4>
                  <p style="font-size: 10px">Mã sản phẩm: ABC</p>
                </td>
                <td class="cart_price">
                  <p>ABC</p>
                </td>
                <td class="cart_quantity">
                  <p class="cart_total_price">ABC</p>
                </td>
                <td class="cart_total">
                  <p class="cart_total_price">ABC</p>
                </td>
              </form>
            </tr>
          {{/each}}
        </tbody>
        <!---->
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->
<section id="do_action">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="total_area" style="background-color: white">
          <ul>
            <li style="font-weight: bold">
              Tổng tiền sản phẩm
              <span> ABC000 VND</span>
            </li>
            <li style="font-weight: bold">VAT <span>ABC%</span></li>
            <li style="font-weight: bold">
              Phí vận chuyển
              <span>ABC000 VND</span>
            </li>
            <li style="font-weight: bold">Giảm giá
              <span>ABC000 VND</span></li>
            <li style="font-weight: bold">Tổng cộng
              <span>ABC000 VND</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>