/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Poppins:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
  background: WHITE;
  position: relative;
  font-weight: bold;
}

ul li {
  list-style: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #ee3e80;
  color: #fff;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i {
  font-size: 30px;
}

.loren {
  margin-top: 10px;
}

/*************************
*******Header CSS******
**************************/
.header-middle .container .row {
  background-image: linear-gradient(to right, #ee3e80 0, #ff6ea4 100%);
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 998;
  top: 0;
  color: #fff;
}

.form-control-lg {
  font-size: 0.875rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  left: 100px;
}

.search_box input {
  border: medium none;
  color: #b2b2b2;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 300px;
  background-image: url(../images/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: 270px;
}

.header-middle .shop-menu .nav.navbar-nav .btn {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 15px;
}

.header-middle .shop-menu .nav.navbar-nav .btn-outline-light {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}

.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse {
  padding-left: 0;
}

.mainmenu ul li {
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child {
  padding-left: 0px;
}

.mainmenu ul li a {
  color: #ee3e80;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 10px;
}

.mainmenu ul li a:hover,
.mainmenu ul li a.active,
.shop-menu ul li a.active {
  background: none;
  color: #333;
}

.shop-menu ul li {
  display: inline-block;
  padding-right: 15px;
}

/*  Dropdown menu*/
.navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}

.nav.navbar-nav > li:hover > ul.sub-menu {
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.dropdown ul.sub-menu li .active {
  color: #fdb45e;
  padding-left: 0;
}

.navbar-nav li ul.sub-menu li {
  padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
  color: #ff6ea4;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*end of header*/
/******************************************/

/*************************
*******Footer CSS******
**************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0px 0px 80px;
  color: #2f2f2f;
  background-color: #f9f9f9;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

@media screen and (min-width: 24.375em) {
  .legal {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.image {
  margin-top: 20px;
}

/*******************************************************/
/*******************************************************/
/****************PRODUCT INFORMATION*********************/
.product-image-wrapper {
  border: 1px solid #f7f7f5;
  background-color: white;
  overflow: hidden;
  margin-bottom: 30px;
}

.single-products {
  position: relative;
}

.single-products:hover {
  display: block;
  height: 100%;
}
.productinfo h2 {
  color: #fe980f;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: -5px;
}

.productinfo p {
  font-size: 16px;
  font-weight: 400;
  color: #696763;
  margin-top: -10px;
}

.productinfo img {
  width: 100%;
}

.productinfo {
  position: relative;
  flex-wrap: wrap;
  height: 375px;
}

.add-to-cart {
  background: #f5f5ed;
  border-color: #3567d7 !important;
  color: #3567d7;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #3567d7 !important;
  border: 0 none;
  border-radius: 0;
  color: #fff;
}

.add-to {
  margin-bottom: 10px;
}

.add-to-cart i {
  margin-right: 5px;
}

.add-to-cart:hover {
  background: #ee3e5d;
  color: #ffffff;
}

/****************PRODUCT INFORMATION*********************/

/***************SIDE BAR IN SHOP.HTML AND PRODUCT DETAIL************/
/*side bar*/

.left-sidebar h2,
.brands_products h2 {
  color: #ee3e80;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.left-sidebar h2:after,
h2.title:after {
  content: " ";
  position: absolute;
  border: 1px solid #f5f5f5;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}

.left-sidebar h2:before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 130px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -65px;
}

h2.title:before {
  content: " ";
  position: absolute;
  background: #fff;
  bottom: -6px;
  width: 220px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -110px;
}

.category-products .panel {
  background-color: #ffffff;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #ee3e80;
  border: 0 none;
  color: #ffffff;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
  font-weight: bold;
}

.category-products .badge {
  background: none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul {
  padding-left: 20px;
}

.panel-body ul li a {
  color: #696763;
  font-size: 12px;
  text-transform: uppercase;
}

.brands-name {
  border: 1px solid #f7f7f0;
  padding-bottom: 20px;
  padding-top: 15px;
}

.brands-name .nav-stacked li a {
  background-color: #ffffff;
  color: #696763;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover {
  background-color: #fff;
  color: #696763;
}
/*side bar*/
/***************SIDE BAR IN SHOP.HTML AND PRODUCT DETAIL************/

.usa {
  border-radius: 0;
  color: #b4b1ab;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 10px;
}

.usa:hover {
  background: #fe980f;
  color: #fff;
  border-color: #fe980f;
}

.usa:active,
.usa.active {
  background: none repeat scroll 0 0 #fe980f;
  box-shadow: inherit;
  outline: 0 none;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  background-color: #fe980f;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/*************************
******* Home ******
**************************/

.right {
  right: 0;
}

.category-products {
  border: 1px solid #f7f7f0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.well {
  background-color: #ffffff;
  border: 1px solid #f7f7f0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 35px;
}

.tooltip-inner {
  background-color: #fe980f;
  border-radius: 4px;
  color: #ffffff;
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #fe980f;
  border-width: 5px 5px 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}

.padding-right {
  padding-right: 0;
}

.choose {
  border-top: 1px solid #f7f7f0;
}

.choose ul li a {
  color: #b3afa8;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li a i {
  margin-right: 5px;
}

.choose ul li a:hover {
  background: none;
  color: #fe980f;
}

.recommended_items {
  overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
  padding-left: 0;
}

.recommended-item-control {
  position: absolute;
  top: 41%;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 #ee3e80;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #ccccc6;
}

.recommended_items h2 {
}

.our_partners {
  overflow: hidden;
}

.our_partners ul {
  background: #f7f7f0;
  margin-bottom: 50px;
}

.our_partners ul li a:hover {
  background: none;
}

/*************************
*******Shop CSS******
**************************/

#advertisement {
  padding-bottom: 45px;
}

#advertisement img {
  width: 100%;
}

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination li:first-child a,
.pagination li:first-child span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination li:last-child a,
.pagination li:last-child span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
  background-color: #fe980f;
  border-color: #fe980f;
  color: #ffffff;
  cursor: default;
  z-index: 2;
}

.pagination li a,
.pagination li span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color: #000;
}

.pagination li a:hover {
  background: #fe980f;
  color: #fff;
}

/*************************
*******Product Details CSS******
**************************/

.product-details {
  overflow: hidden;
}

#similar-product {
  margin-top: 40px;
}

#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}

.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #f7f7f0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #fe980f;
  bottom: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item {
  padding-left: 0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: #fe980f;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover {
  background: #ccccc6;
}

.product-information {
  border: 1px solid #f7f7f0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival {
  position: absolute;
  top: 0;
  left: 0;
}

.product-information h2 {
  color: #363432;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: #fe980f;
  float: left;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}
.product-information span input {
  border: 1px solid #dededc;
  color: #696763;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}

.shop-details-tab {
  border: 1px solid #f7f7f0;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

#reviews ul {
  background: #ffffff;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews ul li {
  display: inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i {
  color: #fe980f;
  padding-right: 8px;
}

#reviews ul li a:hover {
  background: #fff;
  color: #fe980f;
}

#reviews p {
  color: #363432;
}

#reviews form span {
  display: block;
}

#reviews form span input {
  background: #f0f0e9;
  border: 0 none;
  color: #a6a6a1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}
#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #f0f0e9;
  border: medium none;
  color: #a6a6a1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: #fe980f;
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

/*************************
*******404 CSS******
**************************/

.logo-404 {
  margin-top: 60px;
}

.content-404 h1 {
  color: #363432;
  font-family: "Poppins", sans-serif;
  font-size: 41px;
  font-weight: 300;
}

.content-404 img {
  margin: 0 auto;
}

.content-404 p {
  color: #363432;
  font-size: 18px;
}

.content-404 h2 {
  margin-top: 50px;
}

.content-404 h2 a {
  background: #fe980f;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 300;
  padding: 8px 40px;
}

/*************************
*******login page CSS******
**************************/

#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.login-form {
}

.signup-form {
}

.login-form h2,
.signup-form h2 {
  color: #696763;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.login-form form input,
.signup-form form input {
  background: #f0f0e9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span {
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.login-form form button,
.signup-form form button {
  background: #fe980f;
  border: medium none;
  border-radius: 0;
  color: #ffffff;
  display: block;
  font-family: "Poppins", sans-serif;
  padding: 6px 25px;
}

.login-form label {
}

.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}

.or {
  background: #fe980f;
  border-radius: 40px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-top: 75px;
  text-align: center;
  width: 50px;
}

/*************************
*******checkout CSS******
**************************/

.step-one {
  margin-bottom: -10px;
}

.register-req,
.step-one .heading {
  background: none repeat scroll 0 0 #f0f0e9;
  color: #363432;
  font-size: 20px;
  margin-bottom: 35px;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
}

.checkout-options {
  padding-left: 20px;
}

.checkout-options h3 {
  color: #363432;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.checkout-options p {
  color: #434343;
  font-weight: 300;
  margin-bottom: 25px;
}

.checkout-options .nav li {
  float: left;
  margin-right: 45px;
  color: #696763;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.checkout-options .nav label {
  font-weight: normal;
}

.checkout-options .nav li a {
  color: #fe980f;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
}

.checkout-options .nav li a:hover {
  background: inherit;
}

.checkout-options .nav i {
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
  background: #fe980f;
  color: #fff;
  font-size: 14px;
  padding: 2px 3px;
}

.register-req {
  font-size: 14px;
  font-weight: 300;
  padding: 15px 20px;
  margin-top: 35px;
}

.register-req p {
  margin-bottom: 0;
}

.shopper-info p,
.bill-to p,
.order-message p {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
}

.shopper-info .btn-primary {
  background: #fe980f;
  border: 0 none;
  border-radius: 0;
  margin-right: 15px;
  margin-top: 20px;
}

.form-two,
.form-one {
  float: left;
  width: 47%;
}

.shopper-info > form > input,
.form-two > form > select,
.form-two > form > input,
.form-one > form > input {
  background: #f0f0e9;
  border: 0 none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  font-weight: 300;
}

.form-two > form > select {
  padding: 10px 5px;
}

.form-two {
  margin-left: 5%;
}

.order-message textarea {
  font-size: 12px;
  height: 335px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.order-message label {
  font-weight: 300;
  color: #696763;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  font-size: 14px;
}

.review-payment h2 {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 20px;
}

.payment-options {
  margin-bottom: 125px;
  margin-top: -25px;
}

.payment-options span label {
  color: #696763;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

#cart_items .cart_info .table.table-condensed.total-result {
  margin-bottom: 10px;
  margin-top: 35px;
  color: #696763;
}

#cart_items .cart_info .table.table-condensed.total-result tr {
  border-bottom: 0;
}

#cart_items .cart_info .table.table-condensed.total-result span {
  color: #fe980f;
  font-weight: 700;
  font-size: 16px;
}

#cart_items .cart_info .table.table-condensed.total-result .shipping-cost {
  border-bottom: 1px solid #f7f7f0;
}

/*************************
*******Blog CSS******
**************************/

.blog-post-area .single-blog-post h3 {
  color: #696763;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 17px;
}

.single-blog-post > a {
}

.blog-post-area .single-blog-post a img {
  border: 1px solid #f7f7f0;
  width: 100%;
  margin-bottom: 30px;
}

.blog-post-area .single-blog-post p {
  color: #363432;
}

.blog-post-area .post-meta {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
}

.blog-post-area .post-meta ul {
  padding: 0;
  display: inline;
}

.blog-post-area .post-meta ul li {
  background: #f0f0e9;
  float: left;
  margin-right: 10px;
  padding: 0 5px;
  font-size: 11px;
  color: #393b3b;
  position: relative;
}

.blog-post-area .post-meta ul li i {
  background: #fe980f;
  color: #ffffff;
  margin-left: -4px;
  margin-right: 7px;
  padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area .post-meta ul li i:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-color: transparent transparent transparent #fe980f;
  border-width: 4px;
  border-style: solid;
  top: 6px;
  left: 24px;
}

.blog-post-area .post-meta ul span {
  float: right;
  color: #fe980f;
}

.post-meta span {
  float: right;
}

.post-meta span i {
  color: #fe980f;
}

.blog-post-area .single-blog-post .btn-primary {
  background: #fe980f;
  border: medium none;
  border-radius: 0;
  color: #ffffff;
  margin-top: 17px;
}

.pagination-area {
  margin-bottom: 45px;
  margin-top: 45px;
}

.pagination-area .pagination li a {
  background: #f0f0e9;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  margin-right: 5px;
  padding: 4px 12px;
}

.pagination-area .pagination li a:hover,
.pagination-area .pagination li .active {
  background: #fe980f;
  color: #fff;
}

/*************************
*******Blog Single CSS******
**************************/

.pager-area {
  overflow: hidden;
}

.pager-area .pager li a {
  background: #f0f0e9;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  text-transform: uppercase;
  width: 57px;
}

.pager-area .pager li a:hover {
  background: #fe980f;
  color: #fff;
}

.media-heading {
  color: #363432;
  font-size: 14px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.sinlge-post-meta {
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 15px;
}

.sinlge-post-meta li {
  background: #f0f0e9;
  color: #363432;
  float: left;
  font-size: 10px;
  font-weight: 700;
  margin-right: 10px;
  padding: 0 10px 0 0;
  position: relative;
  text-transform: uppercase;
}

.sinlge-post-meta li i {
  background: #fe980f;
  color: #ffffff;
  margin-right: 10px;
  padding: 8px 10px;
}

.sinlge-post-meta li i:after {
  top: 7px;
  border-width: 6px;
  left: 27px;
}

.replay-box {
  margin-bottom: 107px;
  margin-top: 55px;
}

.replay-box h2 {
  font-weight: 700;
  font-size: 20px;
  color: #363432;
  margin-top: 0;
  margin-bottom: 45px;
}

.replay-box label {
  background: #fe980f;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 3px 15px;
  float: left;
  font-weight: 400;
}

.replay-box span {
  color: #fe980f;
  float: right;
  font-weight: 700;
  margin-top: 21px;
}

.replay-box form input {
  border: 1px solid #f7f7f0;
  color: #adb2b2;
  font-size: 12px;
  margin-bottom: 22px;
  padding: 8px;
  width: 100%;
}

.replay-box form input:hover,
.text-area textarea:hover {
  border: 1px solid #fe980f;
}

.text-area {
  margin-top: 66px;
}

.text-area textarea {
  background: transparent;
  border: 1px solid#F7F7F0;
}

.btn.btn-primary {
  background: #fe980f;
  border: 0 none;
  border-radius: 0;
  margin-top: 16px;
}

.blank-arrow {
  position: relative;
}

.blank-arrow label:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 8px;
  border-color: #fe980f transparent transparent transparent;
  top: 25px;
  left: 5px;
}

/*************************
******* Contact CSS ********
**************************/

.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px;
}

.contact-info .heading,
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page .form-control::-moz-placeholder {
  color: #8d8d8d;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: inherit;
}

#contact-page #message {
  height: 160px;
  resize: none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}

#contact-page .form-control:focus,
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: #fdb45e;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.social-networks {
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child {
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i {
  background: none;
}

.contact-info .social-networks ul li a:hover {
  color: #fe980f;
}
