.cart-buttons {
  min-width: 132px;
  margin-bottom: 5px;
}
/*chọn mua button*/
.cart {
  background: #3567d7;
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.cart:hover {
  background-color: #ee3e80;
  color: white;
}

.product-details {
  overflow: hidden;
  background-color: white;
}

#similar-product {
  margin-top: 40px;
}

#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}

.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #f7f7f0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #fe980f;
  bottom: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item {
  padding-left: 0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: #fe980f;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover {
  background: #ccccc6;
}

.product-information {
  border: 1px solid #f7f7f0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}
